<p id="notice"><%= notice %></p>

<p>
  <strong>Job Board Level:</strong>
  <%= @job_board.level %>
</p>
<div class="row jobs-list-grid-container">
  <%= render @job_board.jobs %>
</div>

<div class="hidden-id" style="display: none;" id="job_board_id"><%= @job_board.id %></div>
<%= link_to 'Random Board', job_boards_path, class: 'waves-effect waves-light btn-large' %>
