<p id="notice"><%= notice %></p>

<p>
  <strong>Job Board Level:</strong>
  <%= @job_board.level %>
</p>
<div class="row jobs-list-grid-container">
  <%= render @job_board.jobs %>
</div>
<%= link_to 'Edit', edit_job_board_path(@job_board) %> |
<%= link_to 'Back', job_boards_path %>
