<p id="notice"><%= notice %></p>

<p>
  <strong>Job Board Level:</strong>
  <%= @job_board.level %>
  <strong>Job Board Skill:</strong>
  <%= @job_board.skill %>
</p>
<div class="row jobs-list-grid-container">
  <%= render @job_board.jobs %>
</div>

<script>
    ($(document).ready(function () {
        App.create_board_channel(<%= @job_board.id %>);
    }))
</script>

<%= link_to 'Your Current Board', job_boards_path, class: 'waves-effect waves-light btn-large' %>
<%= link_to 'Random Board', random_job_boards_path, class: 'waves-effect waves-light btn-large' %>
