<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @current_player.name %>
</p>
<p>
  <strong>Money:</strong>
  <%= @current_player.money %>
</p>
<p>
  <strong>Tutorial:</strong>
  <%= @current_player.tutorial %>
</p>

<%= link_to 'Back', players_path %>
