<!DOCTYPE html>
<html>
  <head>
    <title>GlobalCorp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Add numeral.js from cdn-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.4/numeral.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <div class="container">
          <a href="/" class="brand-logo">GlobalCorp</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
                <li><%= link_to('Account', edit_user_registration_path) %></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
                <li><%= link_to('Login', new_user_session_path) %></li>
                <li><%= link_to('Register', new_user_registration_path) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="nav-content">
        <div class="container">
          <div style="margin-top: 50px;">
            <span style="white-space: nowrap;">
              <% if @player %>
                  <%= @player.name %>
                  has
                  <%= @player.money %> €
                  and
                  <%= @player.skill %> skill

                  <% if @player.work %>
                      <% if @player.work.finished_at > Time.now %>
                          and is done working
                          <span id="finish-time"><%= (@player.work.finished_at - Time.now).round %> seconds</span>
                      <% else %>
                          He worked
                      <% end %>
                      to earn
                      <%= @player.work.money %> €
                      <% if @player.work.finished_at < Time.now %>
                          <%= link_to 'Finish', finish_player_path(@player), class: "btn" %>
                      <% else %>
                          <a id="finish-link"></a>
                          <script>
                              $(document).ready(function () {
                                  window.start_job_countdown(
                                      <%= (@player.work.finished_at - Time.now).round %>,
                                      '<%= finish_player_path(@player) %>'
                                  );
                              });
                          </script>
                      <% end %>
                  <% end %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </nav>

    <div class="container main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

    <footer class="page-footer">
      <div class="container">
        <a class="grey-text text-lighten-4 right" href="https://marv-productions.de">© 2017 Marv Productions</a>
      </div>
    </footer>
  </body>
</html>
