<!DOCTYPE html>
<html>
  <head>
    <title>GlobalCorp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">GlobalCorp</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
                <li><%= link_to('Account', edit_user_registration_path) %></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
                <li><%= link_to('Login', new_user_session_path) %></li>
                <li><%= link_to('Register', new_user_registration_path) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

    <footer class="page-footer">
      <div class="container grey-text text-lighten-4">
        <% if @player %>
            <%= @player.name %>
            has
            <%= @player.money %> €
            and
            <%= @player.skill %> skill

            <% if @player.work %>
                <% if @player.work.finished_at > Time.now %>
                    and is working for
                    <%= (@player.work.finished_at - Time.now).round %> seconds
                <% else %>
                    He worked
                <% end %>
                to earn
                <%= @player.work.money %> €
                <% if @player.work.finished_at < Time.now %>
                    <%= link_to 'Finish', finish_player_path(@player), class: "btn" %>
                <% else %>
                soon
                    <a id="finish-link"></a>
                    <script>
                        $( document ).ready(function() {
                            window.setTimeout(function () {
                                $('#finish-link').attr('class', 'btn');
                                $('#finish-link').attr('href', '<%= finish_player_path(@player) %>');
                                $('#finish-link').text('Finish');
                            }, <%= (@player.work.finished_at - Time.now).round * 1000 %>);
                        });
                    </script>
                <% end %>
            <% end %>

        <% end %>

        <a class="grey-text text-lighten-4 right" href="https://marv-productions.de">© 2017</a>
      </div>
    </footer>
  </body>
</html>
